.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title {
    position: relative;
}

a {
    text-decoration: none;
}

.about-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-left img {
    height: 500px;
    width: 350px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    font-size: 20px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill p {
    font-size: 20px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 .36%, #8923e1 102.06%);

}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievements {
    display: flex;
    margin-bottom: 80px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.about-achievement h1 {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(267deg, #da7c25 .36%, #8923e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p img {
    height: 100px;
    font-weight: 500;
}

.about-achievement:hover {
    transform: scale(1.05);
    transition: .3s;
}

@media (max-width: 768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-title img {
        width: 130px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        margin-top: -50px;
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        /* display: flex; */
        /* flex-direction: column; */
        gap: 20px;
        align-items: center;
        /* justify-self: flex-start; */
    }

    .about-skill p {
        font-size: 20px;
        /* text-align: start; */
        /* width: 100%; */
    }

    .about-skill hr {
        align-items: start;
        height: 6px;
        text-align: left;
        width: 100%;
        display: inline-block;
    }

    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 27px;
        font-weight: 600;
    }

    .about-achievement p {
        text-align: center;
        font-size: 14px;
    }
}

/* @media (max-width: 1100px) {
    .about {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 40px;
        padding: 0;
    }

    .about-title img {
        width: 110px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        margin-top: -50px;
        font-size: 16px;
        line-height: 25px;
    }

    .about-skill {
        gap: 15px;
        align-items: center;
    }

    .about-skill p {
        font-size: 17px;
        width: 150px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 27px;
        font-weight: 600;
    }

    .about-achievement p {
        text-align: center;
        font-size: 14px;
    }
} */
